extends layout

block content
	.container
		.jumbotron
			.container
				h1 How May I Help You?
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. 
				a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;

		.container
			.row
				.col-md-4
					h2 About Us
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					a.btn.btn-default(href='#') View Details

				.col-md-4
					h2 About Us
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					a.btn.btn-default(href='#') View Details

				.col-md-4
					h2 About Us
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					a.btn.btn-default(href='#') View Details

